.choose {
    padding: 180px 0 227px 0;
}

.choose .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.choose-content {
    max-width: 583px;
}

.choose-description {
    margin-top: 40px;
    font-size: 18px;
    line-height: 22px;

}

.choose-options {
    margin-top: 60px;
    width: 588px;
}

.choose-option {
    border: 1px solid #C1BBBB;
    background: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    padding: 26px 70px 26px 40px;
    position: relative;
    transition: .2s ease all;
}

.choose-option:hover {
    border-left: 5px solid #6933DC;
    cursor: pointer;
    color: #6933DC;
    font-family: "Museo Sans Cyrl Bold", sans-serif;
}

.choose-option-arrow {
    position: absolute;
    right: 40px;
    top: 27px;
    display: none;
}

.choose-option:hover .choose-option-arrow {
    display: block;
}
