body {
    margin: 0;
    font-family: "Museo Sans Cyrl", sans-serif;
    color: #333333;
}
a {
    color: #6933DC;
}
@font-face {
    src: url("../fonts/MuseoSansCyrl500.ttf");
    font-family: "Museo Sans Cyrl";
}

@font-face {
    src: url("../fonts/MuseoSansCyrl700.ttf");
    font-family: "Museo Sans Cyrl Bold";
}

.header {
    padding: 42px 0 40px;
    border-bottom: 1px solid #DCDCF3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}

.button {
    padding: 14px 35px;
    border-radius: 6px;
    background: #6933DC;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    border: 0;
    cursor: pointer;
    transition: .4s;
    text-decoration: none;

}
a.button {
    display: inline-block;
}

.button-transparent {
    background: transparent;
    color: #6933DC;
    border: 1px solid #6933DC;
}
.button:hover {
    background: #5714d7;
}
.button:disabled {
    background-color: #e2dfe7;
    cursor: not-allowed;

}
.button-transparent:disabled {
    background: transparent;
    color: #e2dfe7;
    border: 1px solid #e2dfe7;

}
.button-transparent:hover {
    background: #6933DC;
    color: #FFFFFF;
}
.common-title {
    font-family: "Museo Sans Cyrl Bold", sans-serif;
    font-size: 48px;
    line-height: 58px;
}

.common-title span {
    color: #6933DC;
}

.big-title {
    font-family: "Museo Sans Cyrl Bold", sans-serif;
    font-size: 54px;
    line-height: 65px;

}

.big-title span {
    color: #6933DC
}

.footer {
    padding: 40px 0;
    text-align: center;
    font-size: 13px;
    line-height: 16px;
    color: #DCDCF3;
}